

html, body{
	padding: 0;
	margin: 0;
	font-family: montserrat;	
	

	

}

.faixa{
	background-color: #1E1E24;	
	padding-bottom: 4px;
	height: 100%;	
	padding-top: 10px;	
	line-height: 10px;
	width: 100%;

}
.faixa img {
	padding-top:  0px;
	padding-left: 15px;
	margin-bottom: 0px;
	padding-bottom: 1%

}
.faixa h1{
	text-align: left;
	color: white;
	line-height: 30px;	
	margin-bottom: -59px;
	padding-top: 3%;
	margin-top: 10px;
	padding-left: 130px;
	width: 100%;
	font-size: 2.0rem;

}
.dropdown-menu.home{
	left: 120px;
}


.btn-dark.nav	{
	color: rgba(255,255,255,.5);
	line-height: 1.2;
    border-radius: 2px;

}

.nav-home{
	display: inline-block;

}
.form-nav{
	padding-left: 80px;
	padding-top: 30px;
	background-color:#262b2d;
    border: 1px;
    border-right: none;
    padding: 2px;
    border-radius: 2px;
	width: 100%;
	height: 25px;
}

.slide-home {
	height: 100%;
	width: 100%;
	margin-top: 0px;	
	padding-left: 0;
	padding-right: 0;
	outline: none;
	
}

.carousel-control-prev.home{
	background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.3) 100%);
}
.carousel-control-next.home{
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.3) 100%);

}

.card-img-top.new-item {
	width: 100%;
	height: 100px;
}
.card.card-home{
	height: 0px;
	width: 150px;
	display: inline-block; 
	margin-right: 40px;
	font-size: 16px;
}


.jumbotron-fluid-home {
    padding-top: 5px;
    padding-bottom: 30px;    
    text-align: center;
    height: 100%;    
    
}.display-4.novidades{
	font-size: 7vw;
	text-align: center;
}

.btn-primary.home {
    display: inline-block;
    font-weight: 500;
    border: 1px solid transparent;
    padding: 3px;
    font-size: 15px;
    line-height: 10px;
    border-radius: 3px;
    background-color: #5E6472;
    text-align: middle;
    border-color: solid transparent;
}
.igor{
	margin-left: 0;
	margin-right: 100%;
	padding-right: 0;
	padding-left: 0;
}





				/* FALE CONOSCO */

/*********************************************************/

.page-header{

	padding-bottom: 9px;
	padding-top: 40px;
	margin-left: 0;
	margin-right: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
	

}

.page-header h1{

	font-size: 36px;
	height: 39px;
	text-align: none;
}


.form-group{

	margin-top: 16px;
	margin-bottom: 16px;
}

.form-row label{

	font-size: 14px;
	font-weight: 700;
}

.faleconosco{

	 background-color: white;
	 /*border-bottom-style: groove;
     border-bottom-width: 0.5px;*/
}


}
.faleconosco h1, h3{

	font-weight: 200;
	color: #2E5266;
}

.faleconosco button{

	font-weight: 400;
	margin-bottom: 50px;


}

.faleconosco img{

	width: 500px;
	margin-top: 150px;
	
}

.col-lg-6 h3{

	font-size: 24px;
	margin-top: 18px;

}

.areatexto{

	background-color: #F1F8F6;
}


form{

	margin-bottom: 18px;
}




						/* FOOTER */

/*********************************************************/



					/* FOOTER */

/*********************************************************/
/* FOOTER */

/*********************************************************/



footer{

	border-style: groove;
	border-bottom: none;
	border-width: 1px;
	border-color: black;
}

.rodape{

	/*margin-top: 50px;*/
	background-color:#1E1E24;
	color:#EDF2F4;
	border-color: black;
	border-style: groove;
	border-width: 1px;
	
}

.rodape h5{

	font-size: 18px;
	font-weight: 600;
}


.col-lg-3 h5{

	padding-top: 16px;
	
}

.pdd-special h5{

	padding-top: 4px;
}

.col-lg-3 li{

	font-size: 16px;
	font-weight: 500;
	
}

.fa-map-marker-alt{

	padding-left: 12px;
	background-color:#1E1E24;
	color: white;
	border-width: 0;
}

.modal-body iframe{

	border-style: solid;
	border-width: 2px;
	border-color: black;
	text-align: center;
	width: 100%
}

.input-group{

	padding-top: 12px;
}

.col-lg-12{

	border-top-color: black;
	border-top-style: groove;
	border-top-width: 1px;
	/*background-color: #2B2D42;*/
	background-color: #31323E;
	

}

.col-lg-12 i{

	margin-right: 18px;
}


.informaçoes-primarias li
{
	line-height: 36px;

}



/* QUEM SOMOS */


.body-quemsomos{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    background-color:white;
    
    
}

.h1-quemsomos{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.div-quemsomos{
    text-align: center;
   /* background-color: #6E8898; 
    border: 1px solid #2E5266; */
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-top: 25px; */

}

.div-quemsomos figcaption{
    margin-top: 15px;
}

.div-quemsomos p {
    text-align: justify;
    margin-top: 15px;
}

.div-quemsomos img{
    width: 60%;
    height: 50%;
    border-radius: 10px;
  

    box-shadow: 0 4px 8px 0 #6E8898, 0 6px 20px 0 #F1F8F6;
    

}

.div-quemsomos h2{
    color: #2E5266;
    font-weight: bolder;
}

.div-quemsomos h3{
    color: #6E8898;
}

/* ************************************************Produtos************************************************** */

/* ************************************************Produtos************************************************** */
/* .container {
padding-left: 5%;
margin-left: 6%;
} */
.p-produtos-top h1{
	margin-left: 10%;
	margin-top: 5%;
}
.categoria{
	padding-left: 0;	
	z-index: 100;
	position:absolute;
	padding-top: 0;
		
}
.saiba-mais{
	background-color: #1E1E24;
	border-color: #1E1E24;
}
.saiba-mais:hover{
	background-color: #1E1E24;
	border-color: #1E1E24;

}
.saiba-mais:not(:disabled):not(.disabled):active{
	background-color: #1E1E24;
	border-color: #1E1E24;
}
.page-link{
	color: #1E1E24;
}

.lista-item{
	color: #1E1E24;
	border:0;
	padding-right: 2%;
	width: 200px;
	border: 0.5px solid grey;
		
}
.page-item.active .page-link.cor-pagina{
	background-color: #1E1E24;
	border-color: #1E1E24
}


.img-card{
	margin-top:10%;
	margin-bottom: 10%;
}
.card-produto{
	margin-left: 15%;
	margin-bottom:10%;	
}
.pag-produtos h1,h2{
	margin-left:15%;
	text-align: center;
	margin-right: 5%;	
}
.texto h2{
	font-size: 30px;
}
.slide-produto,.img-slide-produto {
	
	margin-top: 30px;
	

}

.produto-centro{
	font-size: 20px;
	text-align: left;

}
.container h1{
	text-align: center;

}
.slide-produto{
	margin-left: 22%;
	margin-right: 22%;
	text-align: center;
}
.produto-centro p {
	margin-left: 15%;
	margin-right: 15%;
	font-weight: 200;
	text-align: left;
	font-size: 16px;
}

.nprodutos{
	background-color: #1E1E24;
}