
html, body{
	padding: 0;
	margin: 0;
	font-family: montserrat;	
	



}
.dropdown-item:active{
	background-color: #1E1E24;
}
@media (max-width: 1000px) {
	.faixa{
		display: none;
	}
	.dropdown-menu.home{
		text-align: left;
	}
	.navbar-brand.icone-balao{
		display: none;
	}

}

.faixa{
	background-color: #1E1E24;	
	padding-bottom: 4px;
	height: 100%;	
	padding-top: 10px;	
	line-height: 10px;
	width: 100%;

}
.faixa img {
	padding-top:  0px;
	padding-left: 15px;
	margin-bottom: 0px;
	padding-bottom: 1%

}
.faixa h1{
	text-align: left;
	color: white;
	line-height: 30px;	
	margin-bottom: -59px;
	padding-top: 3%;
	margin-top: 10px;
	padding-left: 130px;
	width: 100%;
	font-size: 2.0rem;

}

.btn-dark.nav	{
	color: rgba(255,255,255,.5);
	line-height: 1.2;
    border-radius: 2px;

}
.nav-home{
	display: inline-block;

}
@media (min-width: 992px){
.nav-botn{
	margin-left: 50px;
	
}
}

.form-nav{
	padding-left: 80px;
	padding-top: 30px;
	background-color:#262b2d;
    border: 1px;
    border-right: none;
    padding: 2px;
    border-radius: 2px;
	width: 100%;
	height: 25px;
}
.dropdown-menu{
	left: 12.5rem;
	border-radius: 2px;
	margin-top: -1px;
	
}
.slide-home {
	height: 100%;
	width: 100%;
	margin-top: 0px;	
	padding-left: 0;
	padding-right: 0;
	outline: none;
	
}

.carousel-control-prev.home{
	background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.3) 100%);
}
.carousel-control-next.home{
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.3) 100%);

}
@media (max-width: 900px){
	.icones{ 
	display: none;
	 }
}
.icones{	
	padding-top: 20px;
}
	
.text b{
	font-size: 0.8rem;
	text-transform: uppercase;	
}
.text p{
	font-size: 0.7rem;
	}
	
	

.card-img-top.new-item {
	width: 100%;
	height: 100px;
}



.jumbotron-fluid-home {
    padding-top: 5px;
    padding-bottom: 30px;    
    text-align: center;
    height: 100%;  
    background-color: white;  
    
}

.mais-vendidos{
	text-align: left;
	padding-top: 60px;
	margin-left: 0px;
}
.trophy{
	margin-top: 8px;
	text-align: right;
}
.maisv h1{
	font-size: 1.8rem;
	margin-top: 15px;
	color: #1E1E24;
	margin-left: 5px;
	
}




				/* FALE CONOSCO */

/*********************************************************/

.page-header{

	padding-bottom: 9px;
	padding-top: 40px;
	margin-left: 0;
	margin-right: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
	

}

.page-header h1{

	font-size: 36px;
	height: 39px;
	text-align: none;
}


.form-group{

	margin-top: 8px;
	margin-bottom: 16px;
}

.form-row label{

	font-size: 14px;
	font-weight: 700;
}
.faleconosco h1{
	margin-top: 20px;
	text-align: center;
}
.faleconosco{
	 
	 background-color: white;
	 /*border-bottom-style: groove;
     border-bottom-width: 0.5px;*/
}

.tamanho-fale{
	width: 25%;
	
}

.faleconosco h1, h3{

	font-weight: 200;
	color: #2E5266;
}
.container .faleconosco{
	display: inline-block;
}

.faleconosco button{

	font-weight: 400;
	margin-bottom: 50px;


}

.faleconosco img{

	width: 500px;
	margin-top: 150px;
	
}

.col-lg-6 h3{

	font-size: 24px;
	margin-top: 18px;

}

.areatexto{

	background-color: #F1F8F6;
}






						/* FOOTER */

/*********************************************************/



					/* FOOTER */

/*********************************************************/
/* FOOTER */

/*********************************************************/



footer{

	border-style: groove;
	border-bottom: none;
	border-width: 1px;
	border-color: black;
}

.rodape{

	/*margin-top: 50px;*/
	background-color:#1E1E24;
	color:#EDF2F4;
	border-color: black;
	border-style: groove;
	border-width: 1px;
	
}

.rodape h5{

	font-size: 18px;
	font-weight: 600;
}


.col-lg-3 h5{

	padding-top: 16px;
	
}

.pdd-special h5{

	padding-top: 4px;
}

.col-lg-3 li{

	font-size: 16px;
	font-weight: 500;
	
}
.loc-tamanho:hover{
	cursor: pointer;
 	 transform: scale(0.9);
}

.fa-map-marker-alt{

	padding-left: 12px;
	background-color:#1E1E24;
	color: white;
	border-width: 0;
}

.modal-body iframe{

	border-style: solid;
	border-width: 2px;
	border-color: black;
	text-align: center;
	width: 100%
}

.input-group{

	padding-top: 12px;
}

.col-lg-12{

	border-top-color: black;
	border-top-style: groove;
	border-top-width: 1px;
	/*background-color: #2B2D42;*/
	background-color: #31323E;
	

}

.col-lg-12 i{

	margin-right: 18px;
}


.informaçoes-primarias li
{
	line-height: 36px;

}



/* QUEM SOMOS */


.body-quemsomos{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
	background-color:white;
	
	border-bottom: 1px double  #e0dcdc;
	
    
}

.h1-quemsomos{
	text-align: center;
	font-weight: 200;
	
    
}


.div-quemsomos{
    text-align: center;
   /* background-color: #6E8898; */
    margin-left: 10%;
	margin-right: 10%;
	
    

}

.div-quemsomos figcaption{
    margin-top: 15px;
}

.div-quemsomos p {
    
	margin-top: 15px;
	font-size: 20px;
}

.div-quemsomos img{
	margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  

    box-shadow: 0 4px 8px 0 #6E8898, 0 6px 20px 0 #F1F8F6;
    

}

.div-quemsomos h2{
    color: #31323E;;
	font-weight: bolder;
	text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.div-quemsomos h3{
    opacity: 0;
}
.div-quemsomos:hover h3{
	position: relative;
	top: -200px;
	font-weight: bold;
	opacity: 1;
	color:#31323E;
}
.div-quemsomos:hover img{
	transform: scale(1.1);
	opacity: 0.5;
}

.body-quemsomos:hover .h1-quemsomos{
	transform: scale(1.1);
	
}
.div-quemsomos:hover{
	font-weight: bold;
}

@media(max-width: 1000px){
	.h1-quemsomos{
		font-size: 40px;
		
	}
	.div-quemsomos h3{
		opacity: 1;
		margin-top: 10px;
	}
}

/* ************************************************Produtos************************************************** */

/* ************************************************Produtos************************************************** */

.p-produtos-top h1{
	margin-left: 10%;
	margin-top: 5%;
}
.categoria{
	padding-left: 0;	
	z-index: 100;
	position: absolute;
	padding-top: 0;
	border-radius:0; 
	
	 
		
		
}

.saiba-mais{
	background-color: #F1F8F6;
	border-color: #1E1E24;
	color:	#1E1E24;
}
.saiba-mais:hover{
	background-color: #1E1E24;
	border-color: #1E1E24;
}
.saiba-mais:not(:disabled):not(.disabled):active{
	background-color: #1E1E24;
	border-color: #1E1E24;
}

.page-link{
	color: #1E1E24;
}

.lista-item{
	color: #1E1E24;
	padding-right: 2%;
	width: 200px;
	border: none;
	background-color:rgb(255,255,255,.75);	
	
}

.lista-item:hover{
	background:#343a40;
	color:rgba(255,255,255,.75);	
}
.categoria:hover{
	text-decoration: none;
}
.page-item.active .page-link.cor-pagina{
	background-color: #1E1E24;
	border-color: #1E1E24
}
a:hover{
	text-decoration: none;
}
.list-group-item:first-child{ 
	margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.img-card{
	margin-top:10%;
	margin-bottom: 10%;
	border: 1px solid #1E1E24;
}
.card-produto{
	text-align: auto;
	margin-left: 15%;
	margin-bottom:10%;	
	
}
.pag-produtos h1,h2{
	margin-left:15%;
	text-align: center;
	margin-right: 5%;	
}
.texto h2{
	font-size: 30px;
}
.slide-produto,.img-slide-produto {
	
	margin-top: 30px;
	

}

.produto-centro{
	font-size: 20px;
	text-align: left;

}

.slide-produto{
	margin-left: 22%;
	margin-right: 22%;
	text-align: center;
}
.produto-centro p {
	margin-left: 15%;
	margin-right: 15%;
	font-weight: 200;
	text-align: left;
	font-size: 16px;
}

.nprodutos{
	background-color:#1E1E24;
}
@media(max-width:1200px) and (min-width:1001px)
{
	.card-produto{
		margin-left: 25%;
	}
}


@media (max-width: 1000px)

{
.card-produto{
text-align: center;
}
.categoria{
	display: none;
}
.pag-produtos{
	text-align: center;
}
.dropdown-menu{
	background-color:#343a40;
	
}
.dropdown-menu a{
	color:rgba(255,255,255,.5);
}
.dropdown-divider{
	border-color:#1e1e245c; 
}
.dropdown-item.active, .dropdown-item:active {
	background-color: #1E1E24;
}
.dropdown-item:focus, .dropdown-item:hover{
	background-color: #343a40;
	color:white;

}
}
