	
body{

	font-family: 'Montserrat', sans-serif;
}


				/* FALE CONOSCO */

/*********************************************************/

.page-header{

	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
	

}

.page-header h1{

	font-size: 36px;
	height: 39px;
	text-align: none;
}


.form-group{

	margin-top: 16px;
	margin-bottom: 16px;
}

.form-row label{

	font-size: 14px;
	font-weight: 700;
}

.faleconosco{

	 /*background-color: #F4F4F6;*/
	 /*border-bottom-style: groove;
     border-bottom-width: 0.5px;*/
}


}
.faleconosco h1, h3{

	font-weight: 200;
	color: #2E5266;
}

.faleconosco button{

	font-weight: 400;
	/*margin-bottom: 12px;*/


}

.faleconosco img{

	width: 500px;
	margin-top: 150px;
	
}

.col-lg-6 h3{

	font-size: 24px;
	margin-top: 18px;

}

.areatexto{

	background-color: #F1F8F6;
}


form{

	margin-bottom: 18px;
}

				/* LOCALIZAÇÃO */

/*********************************************************/


.localizacao{

	/*background-image: linear-gradient(#D3D0CB, #F1F8F6);*/

}


}
.localizacao h1{

	font-weight: 400;
	color: #2E5266;

}


.localizacao iframe{

	margin-top: 18px;
	
	
}

.localizacao li{


}

.localizacao ul{

	margin-top: 18px;
}



						/* FOOTER */

/*********************************************************/



footer{

	margin-top: 50px;
	height: 300;
	background-color:#DC2246;
	/*color: #F1F8F6;*/
	color: #FFFAFB;
	border-style: solid;
	border-bottom: none;
	border-width: 2px;
	border-color: black;
}

.container-fluid img
{
	height: 50px;
}

.col-lg-3 img{
	
	margin-right: 10px;
}

.col-lg-3 h5{

	font-size: 16px;
}


.col-lg-2  h5, h6{

	font-size: 16px;
}

.atendimento{

padding-right: 200px;

}

.atendimento h5, h6{
	
	text-align: center;
}

.mark {

	margin-bottom: 12px;
}

.list-unstyled li{

	font-size: 16px;
	line-height: 30px;

}

.glyph ul{

	margin-top: 32px;
}

.maps{

	padding-left: 18px;
	padding-bottom:12px;
	margin-top: 28px;

}

.col-lg-3 iframe{

	width: 400px;
	height: 398px;
	margin-top: 14px;
	border-style: solid;
	border-bottom: solid;
	border-width: 1px;
	border-color: black;

}

.col-lg-3 h4{

	margin-bottom: 18px;
}


.col-lg-2 ul{

	margin-top: 40px;
	background-color: #2B2C28;
}

.col-lg-2 li{
	
	background-color: #DC2246;
}
.foot{

	padding-top: 12px;

}
.footer-copyright
{
	border-style: solid;
	border-top: none;
	border-width: 2px;
	border-color: black;
	background-color: #780116;
}

