.nav-link{
	display: block;
}
.pesquisa{
	padding: 0;
	line-height: 30px;
	

	

}
.categoria{
	float: left;
}
.container{
	margin-top: 7.5%;
}
.card {
	
	margin-left: 5%;
	margin-bottom: 15px;
	margin-top: 15px;
}
.coluna-2,.coluna-3{
	padding-left: 30px;
}