.categoria{
	
	padding: 6px 8px 6px 12px;
	margin-bottom: 7.5%;
	float:left;
	padding-right: 1px;
	padding-top: 1px;

}
.categoria a{
	margin-left: -12px;	
	border: 1px solid red;
}
.categoria :hover{
	color:black;
}
.coluna-1 h1{
  margin-left: 200px;
  font-size: 25px;
  
}
.img-aux {
  
 
  height: 100px;
  width: 100px;
}
