	
body{

	font-family: 'Montserrat', sans-serif;
}


				/* FALE CONOSCO */

/*********************************************************/


.form-group{

	margin-top: 20px;
	margin-bottom: 32px;
}

.faleconosco{

	 /*background-image: linear-gradient(#E83F6F, #F5F5F5);*/
	 border-bottom-style: groove;
     border-bottom-width: 0.5px;

}


}
.faleconosco h1, h3{

	font-weight: 400;
	color: #2E5266;

}

.faleconosco button{

	font-weight: 400;
	margin-bottom: 12px;

}

.faleconosco img{

	width: 500px;

	margin-top: 80px;
	

}

.areatexto{

	background-color: #F1F8F6;
}



form{

	margin-bottom: 18px;
}

				/* LOCALIZAÇÃO */

/*********************************************************/


.localizacao{

	/*background-image: linear-gradient(#D3D0CB, #F1F8F6);*/

}


}
.localizacao h1{

	font-weight: 400;
	color: #2E5266;

}


.localizacao iframe{

	margin-top: 18px;
	width: 500px;
	
}

.localizacao li{


	background-color: #F1F8F6;



}

.localizacao ul{

	margin-top: 18px;
}



						/* LOCALIZAÇÃO */

/*********************************************************/

footer{

	border-style: solid;
	border-width: 1px;
	margin-top: 50px;
	height: 300;
	/*background-color: #3C3C3C;*/
	/*color: #F1F8F6;*/
	color: black;

}

.container-fluid img
{
	height: 50px;
}

.col-md-3 img{

	
	margin-right: 10px;
}

.atendimento{

padding-right: 200px;

}

.atendimento h5, h6{

	text-align: center;
}

.mark {

	margin-bottom: 12px;
}

.list-unstyled li{

	line-height: 30px;

}

.glyph ul{

	margin-top: 32px;
}
