

html, body{
	padding: 0;
	margin: 0;
	font-family: montserrat;
	/* background-color: rgb(235, 237, 247) ;	 */

	



}
.dropdown-item:active{
	background-color: #1E1E24;
}
@media (max-width: 991px)  {
	.faixa{
		display: none;
	}
	.dropdown-menu.home{
		text-align: left;
	}
	.navbar-brand.icone-balao{
		display: none;
	}

}
@media (min-width: 992px){
	.navbar-brand.icone-balao2{
		display: none;
		
	}
}
.faixa{
	background-color: #1E1E24;	
	padding-bottom: 4px;
	height: 100%;	
	padding-top: 10px;	
	line-height: 10px;
	width: 100%;

}
.faixa img {
	padding-top:  0px;
	padding-left: 15px;
	margin-bottom: 0px;
	padding-bottom: 1%

}
.faixa h1{
	text-align: left;
	color: white;
	line-height: 30px;	
	margin-bottom: -59px;
	padding-top: 3%;
	margin-top: 10px;
	padding-left: 130px;
	width: 100%;
	font-size: 2.0rem;

}

.dropdown-menu.home{
	left: 120px;
}
.btn-dark.nav	{
	color: rgba(255,255,255,.5);
	line-height: 1.2;

	border-radius: 2px;

    border-radius: 2px;


}

.item:active {
	background-color: rgb(24, 23, 23);
} 


.nav-home{
	display: inline-block;

}
@media (min-width: 992px){

	.nav-botn{
		margin-left: 30px;

	}

.nav-botn{
	margin-left: 30px;
	
}

}


.dropdown-menu.home{
	left: 13.5rem;
	border-radius: 2px;
	margin-top: -1px;
	
}
.slide-home {
	height: 100%;
	width: 100%;
	margin-top: 0px;	
	padding-left: 0;
	padding-right: 0;
	outline: none;
	
}

.carousel-control-prev.home{
	background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.3) 100%);
}
.carousel-control-next.home{
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.3) 100%);

}


.icones{	
	padding-top: 20px;
}

.text b{
	font-size: 0.8rem;
	text-transform: uppercase;	
}
.text p{
	font-size: 0.7rem;

}

.jumbotron-fluid-home {
	padding-top: 5px;
	padding-bottom: 30px;    

	height: 100%;  
	
	/* background-color: #e5ebff;  */


	}

.jumbotron-fluid-home {
    padding-top: 5px;
    padding-bottom: 30px;    
    
    height: 100%;  
	
	/* background-color: #e5ebff;  */
    

}
.mais-vendidos{
	text-align: left;
	padding-top: 60px;
	margin-left: 0px;
}
.trophy{
	margin-top: 8px;
	text-align: right;
}
.maisv h1{
	font-size: 1.8rem;
	margin-top: 15px;
	color: #1E1E24;
	margin-left: 5px;
	text-align: left;
	
}
.prod-home {
	text-align: center;
	margin-left: 50px;
	display: inline-flex;
}
.img-card-home:hover{
	-webkit-box-shadow: 6px 4px 6px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    6px 4px 6px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 10px rgba(50, 50, 50, 0.77);
	transition: all 220ms ease-out;
	transform: scale(1.05);
}
@media (max-width: 617px){
	.img-card-home{
		margin-left: 15%;

	}
	.form-control{
		width: 45%;
	}
}
.img-card-home{
	
	text-align: left;
}



/************** FALE CONOSCO *************/

								/************** FALE CONOSCO *************/


/**********************************************************************************************************/



.form-group{

	margin-top: 8px;
	margin-bottom: 8px;
}

.form-row label{

	font-size: 14px;
	font-weight: 700;
}
.faleconosco h1{

	margin-top: 20px;
}

.col-lg-6 h3{

	font-size: 24px;
	margin-top: 18px;

}

.areatexto{

	background-color: #F1F8F6;
}


form{

	margin-bottom: 16px;
}



.alerta{

	font-size: 12px;
	padding: 8px;
}

.text-mensagem textarea{

	margin-bottom: 24px;
}





/****************** FOOTER *********************/


						/****************** FOOTER *********************/


/*********************************************************************************************************/





footer{

	border-style: groove;
	border-bottom: none;
	border-width: 1px;
	border-color: black;

}

.rodape{

	/*margin-top: 50px;*/
	background-color:#1E1E24;
	color:#EDF2F4;
	border-color: black;
	border-style: groove;
	border-width: 1px;
	
}

.faleconosco-footer{

	color:#2E5266;
	text-align: left;
}

 .faleconosco-footer{

 	color:#2E5266;
 	text-align: left;
 }


.rodape h5{

	font-size: 18px;
	font-weight: 600;
}


.col-lg-3 h5{

	padding-top: 16px;
	
}

.pdd-special h5{

	padding-top: 4px;
}

.col-lg-3 li{

	font-size: 16px;
	font-weight: 500;
	
}


.lista-de-usuarios h1{

	margin-top: 18px;
}
.cadastrar-usuarios h1{

	margin-top: 18px;
}
.fa-plus{


	margin-top: 12px;
	margin-bottom: 34px;
	color: black;
}

.fa-plus:hover{

	transform: scale(0.9);
	color: black;
}

.fa-arrow-left{

	color: black;
}

.fa-arrow-left:hover{

	color: black;
	transform: scale(0.9);
}

.loc-tamanho:hover {
    cursor: pointer;
}
.loc-tamanho:hover{
	cursor: pointer;
 	 transform: scale(0.9);

}

.fa-map-marker-alt{

	padding-left: 12px;
	background-color:#1E1E24;

	border-width: 0;
	color: white;
}

.fa-trash-alt
{
	

	background-color: white;
	
	border-width: 0;
	
}

.fa-trash-alt:hover{

	transform: scale(0.9);
	cursor: pointer; 
}

.fa-pen:hover{

	transform: scale(0.9);
	cursor: pointer; 
}

.fa-pen{

	background-color: white;
	margin-left: 18px;
	border-width: 0;



	color: white;
	border-width: 0;

}

.fa-headset{

	padding-left: 12px;
	background-color:#1E1E24;
	color: white;
	border-width: 0;
}

.modal-body iframe{

	border-style: solid;
	border-width: 2px;
	border-color: black;
	text-align: center;
	width: 100%
}

.input-group{

	padding-top: 12px;
}

.col-lg-12{

	border-top-color: black;
	border-top-style: groove;
	border-top-width: 1px;
	/*background-color: #2B2D42;*/
	background-color: #31323E;
	

}


.table-bordered form{

	display: inline-block;
}



.col-lg-12 i{

	margin-right: 18px;
}

.col-lg-12 a{

	color: white;
}

.col-lg-12 i:hover{

	transform: scale(1.2);
}


.informaçoes-primarias li
{
	line-height: 36px;

}

.lock{

	float: right;
	padding-top: 28px;
}





/********************* QUEM SOMOS *********************/

/*********************************************************************************************************/
.Titulo-quemsomos
{
	text-align: center;
	margin-top:2.5%;
	font-size: 26px;
}
.img-quemsomos
{
	margin-top: 2.5%;
	height: 40vh;
	width: 60vh;
	border-radius: 10%;
	margin-bottom: 2.5%;
	text-align: center;

	border:black 1px solid;
} 

.texto-quemsomos
{
	text-align: justify;
	margin-top: 5%;
}
.texto-quemsomos h1
{

	text-align: center;
}
.texto-quemsomos p
{
	margin-top: 2.5%;

}

.esquerda
{
text-align: justify;

}
.quemsomos-row
{
	display: none;
}
@media(max-width:1000px)
{
	.img-quemsomos
	{
		word-wrap: wrap;
		min-width: 250px;
	
	

	}
	
	.body-quemsomos
{
	text-align: center;
	margin-top: 5%;
	
}

}
@media(max-width:576px)
{
	.quemsomos-row{
		display: flex;
	}
	.quemsomos-100px{
		display: none;
	}
	.body-quemsomos hr{
		display: none;
	}
		
}

		


						/*************************Produtos**************************/


/**********************************************************************************************************/



.p-produtos-top h1{
	text-align: center;
	margin-left: 10%;
	margin-top: 5%;
}
.categoria{
	padding-left: 0;	
	z-index: 100;
	position: absolute;
	padding-top: 0;
	border-radius: 0.5; 
	margin-top: 10%;
	

}

.saiba-mais{
	background-color: #F1F8F6;
	border-color: #1E1E24;
	color:	#1E1E24;
}
.saiba-mais:hover{
	background-color: #1E1E24;
	border-color: #1E1E24;
}
.saiba-mais:not(:disabled):not(.disabled):active{
	background-color: #1E1E24;
	border-color: #1E1E24;
}

.page-link{
	color: #1E1E24;
}

.lista-item{
	color: #1E1E24;
	padding-right: 2%;
	width: 200px;
	border: none;
	background-color:rgb(255,255,255,.75);	
	
}

.lista-item:hover{
	background:#343a40;
	color:rgba(255,255,255,.75);	
}
.categoria:hover{
	text-decoration: none;
}
.page-item.active .page-link.cor-pagina{
	background-color: #1E1E24;
	border-color: #1E1E24
}
a:hover{
	text-decoration: none;
}
.list-group-item:first-child{ 
	margin-bottom: 0;

	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}
.img-card{
	margin-top:10%;
	margin-bottom: 10%;

	border: 1px solid #1E1E24;

}
.img-card:hover{
	-webkit-box-shadow: 6px 4px 6px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    6px 4px 6px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 10px rgba(50, 50, 50, 0.77);
	transition: all 220ms ease-out;
	transform: scale(1.05);

}
.card-produto{
	text-align: auto;
	margin-left: 15%;
	margin-bottom:10%;	
	
}



.nprodutos{
	background-color:#262b2d
}
@media(max-width:350px)
{
	.card-produto{
		margin-left: 5%;
	}
}
@media(max-width:300px)
{
	.card-produto{
		margin-left: 0;
	}
}
@media(max-width:1200px) and (min-width:1001px)
{
	.card-produto{
		margin-left: 25%;
	}
}
@media(max-width:766px)and (min-width:520px)
{
	.card-produto{
		margin-left: 25%;
		margin-right: 5%;
	}
}

@media (max-width: 1000px)

{

	.card-produto{

		text-align: center;
	} 
	.categoria{

		display: none;
	}
	.pag-produtos{
		text-align: center;
	}
	.dropdown-menu{
		background-color:#343a40;

	}
	.dropdown-menu a{
		color:rgba(255,255,255,.5);
	}
	.dropdown-divider{
		border-color:#1E1E24; 
	}
	.dropdown-item.active, .dropdown-item:active {
		background-color: #1E1E24;
	}
	.dropdown-item:focus, .dropdown-item:hover{
		background-color: #343a40;
		color:white;


	}


.card-produto{

text-align: center;
} 
.categoria{
	
	display: none;
}
.pag-produtos{
	text-align: center;
}
.dropdown-menu{
	background-color:#343a40;
	
}
.dropdown-menu a{
	color:rgba(255,255,255,.5);
}
.dropdown-divider{
	border-color:#1e1e245c; 
}
.dropdown-item.active, .dropdown-item:active {
	background-color: #1E1E24;
}
.dropdown-item:focus, .dropdown-item:hover{
	background-color: #343a40;
	color:white;
	

}
}
.pag-produtos h5{
	font-size:12px;

}
.titulo-pag-produtos h1,h2{
	text-align: center;
	margin-top: 2.5%;
	
}
.img-produto-pagina{
	margin-top: 2.5%;
	text-align: center;
	margin-bottom: 2.5%;
}
.img-pagina{

	text-align: center;
	width: 80vh;
	height: 75vh;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}
.pag-produtos h1{
	margin-top: 2.5%;
	text-align: center;
}
.texto p{
	margin-top: 2.5%;
	font-weight: 200;
	text-align: justify;
	font-size: 16px;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2.5%;
}
.titulo-pag-produtos h1{
	text-align: center;
}
@media(max-width:1200px) and (min-width:1001px)
{
	.img-produto-pagina{
		
		margin-left: 15%;	
		
	}
	.texto {
		text-align: center;
		margin-left: 15%;
	}
}

.pagina-produtos:hover{
	transform: scale(1.1);
}
#id{
	transition: all 220ms ease-out;

}
.form-group input{

	margin-bottom: 8px;
}

.faleconosco2 h1{

	margin-top: 20px;
	font-weight: 18px;
	font-weight: 550;

}

.faleconosco2 i{

	margin-right: 32px;
	margin-top: 8px;
	padding-top: 8px;

}